 @font-face {
        font-family: 'Poppins';
        src: url("../assets/fonts/poppins/Poppins-Black.ttf") format('truetype');
        font-weight: normal;
        font-style: normal;
    }

header h1 {
    font-family: 'Poppins', sans-serif;
    color: white;

}

.header-with-logo {
    position: relative;
    padding-top: 5rem;
}

.header-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}